[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gql = "*"
yaspin = "*"
click = "*"
repo-insights = {editable = true, path = "."}

[dev-packages]
flake8 = "*"
black = "*"
pytest = "*"

[requires]
python_version = "3.9"

[scripts]
start = "python repo-insights/main.py"
lint = "flake8 --show-source ."

[pipenv]
allow_prereleases = true
