[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
yaspin = "*"
click = "*"
repo-insights = {editable = true, path = "."}
gql = "==v2.0.0"

[dev-packages]
flake8 = "*"
black = "*"
pytest = "*"

[requires]
python_version = "3.9"

[scripts]
start = "python src/main.py"
lint = "flake8 --show-source ."
test = "pytest tests"

[pipenv]
allow_prereleases = true
