[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fire = "*"
gql = "*"

[dev-packages]
black = "*"
flake8 = "*"

[requires]
python_version = "3.9"

[scripts]
start = "python main.py"
format = "black ."
lint = "flake8 --show-source ."
